[Version]
version = 1.5.2-a
fullVersionName = Aerospace Knowledge Learning And Testing System 0.0.1 alpha
productName = Aerospace Knowledge Learning And Testing System
friendlyAppName = Aerospace Knowledge Learning And Testing System
internalName = com.rycb.aklts
internalVersion = aklts.version_1.5.2-a

[programSelfCheck]
version = 1.5.2-a